
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --fondo: #0d1117;
    --texto: #e6edf3;
}


body {
    min-height: 100vh;
    background-color: var(--fondo);
    color: var(--texto);
    font-family: Arial, Helvetica, sans-serif;
}




header {
    padding: 1rem 2rem;
}

.menu {
    display: flex;
    gap: 2rem;
}

.menu a {
    color: var(--texto);
    text-decoration: none;
    font-weight: bold;
}




.fondo {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}



.links a {
    margin: 0 5rem;
    padding: 0.6rem 1.2rem;
    border: 1px solid var(--texto);
    border-radius: 8px;
    text-decoration: none;
    color: var(--texto);
    color: white;
}

.links2 a {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    display: inline-block;      
    flex-wrap: wrap; 
    margin: 0.5rem;
    padding: 0.6rem 1.2rem;
    border: 1px solid var(--texto);
    border-radius: 8px;
    color: var(--texto);
    color: white;
}

footer {
    padding: 1rem;
    text-align: center;
}

li {
    text-align: left;
}

.img {
    position: absolute;
    top: 20px;
    left: 20px;
}

.div {  
min-height: 50px;
max-width: 900px;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    grid-auto-flow: dense;
    margin-left: 10%;
}   

h2 {
    margin-top: 40px;
    margin-left: 8%;
}

.h1 {
    margin-left: 6%;
}