 body {
            margin: 0;
        }

        main {
            height: 100vh;
        }

        section {
            position: relative;
            height: 100vh;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        nav {
            position: absolute;
            top: 17%;
            left: 17%;
            font-size: 80px;
        }

        ul {
            list-style: none;
            padding: 0;
        }

        a {
            color: white;
            text-decoration: none;
        }

        h1 {
            color: white;
            font-size: 100px;
            position: absolute;
            bottom: 80%;
            left: 17%;
        }