@keyframes aparecer {
    from {top: -300px; opacity: 0;}
    to {top: 0; opacity: 1;}
}

.textocookies {
    position: relative;
    top: 200px;
    left: 200px;
    animation-name: aparecer;
    animation-duration: 0.4s;
    animation-timing-function: linear;
}