.figure {
  transform: rotate(45deg);
  transform-origin: 25% 50% 75% 100%;
  position: relative;
  top: 190px;
  left: 180px;
}

.rueda {
    position: absolute;
    top: 200px;
    left: 200px;
}



.figure1 {
  height: 200px;
  width: 200px;
  margin: auto;
}

.figure2 {
  transform: rotate(45deg);
  animation: mymove 5s infinite;
}

@keyframes mymove {
  25% {transform-origin: 25% 25% 10px;}
  50% {transform-origin: 50% 50% 10px;}
  
}

.figure3 {
  position: relative;
  width: 150px;
  height: 150px;
}