@keyframes aparecer {
    from {top: 100px; opacity: 0;}
    to {top: 100; opacity: 1;}
}

.textocookies {
    position: relative;
    top: 200px;
    left: 200px;
    animation-name: aparecer;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}