.triangulo {
    position: relative;
    top: 330px;
    left: 200px;
}

.rueda {
    position: absolute;
    top: 300px;
    left: 250px;
    animation-name: rueda-giratoria;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes rueda-giratoria {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(90deg);
    }
}