.circulo1 {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: rgb(223, 211, 102);
    left: 175px;
    top: 265px;
    position: relative;
}



.circulo2 {
    width: 65px;
    height: 65px;
    position:relative;
    border-radius: 50%;
    background-image: url(moon-svgrepo-com.svg);
    animation: eclipse 4s steps(8)
}

@keyframes eclipse {
    from {
      left:10px;
      top:200px;
    }

    to  {
    left:200px;
    top:200px;  
    }
}