.fondo, .fondo2, .fondo3 {
    display: block;
}

.fondo {
    background-color: red;
    width: 50%;
}

.fondo2 {
    background-color: blue;
    width: 75%;
}

.fondo3 {
    background-color: chartreuse;
    width: 100%;
}