 .size1 {
    font-size: 1rem;
 }

 .size2 {
    font-size: 2.5rem;
 }

 .size3 {
   font-size: 0.75rem;
 }

 .style {
   font-style: italic;
 }

 .style2 {
   font-style: normal;
 }

 .weight {
   font-weight: 900;
 }

 .weight2 {
   font-weight: 300;
 }

 .text1 {
    letter-spacing: 1.2rem;
}

.text2 {
    word-spacing: 1.2rem;
}

.text3 {
   text-transform: uppercase;
}

.text4 {
    text-align: justify;
}

.estilo:hover {
    color: blue;
}



.mobydick {
   font-weight: 900;
   font-style: italic;
   font-size: 2.5rem;
}

.hermanmelville {
   font-weight: 300;
    font-size: 0.75rem;
     font-style: italic;
}

.porlogo {
   font-weight: 300;
    font-size: 0.75rem;
     font-style: italic;
}

.texto1 {
   font-style: normal;
    font-size: 1rem;
}

.texto2 {
    font-size: 1rem;
}