
.mobydick {
   font-weight: 900;
   font-style: italic;
   font-size: 2.5rem;
}

.hermanmelville {
   font-weight: 300;
    font-size: 0.75rem;
     font-style: italic;
}

.porlogo {
   font-weight: 300;
    font-size: 0.75rem;
     font-style: italic;
}

.texto1 {
   font-style: normal;
    font-size: 1rem;
}

.texto2 {
    font-size: 1rem;
}