img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            height: 100vh;
        }



.titulo1 {
    text-align: left;
     color: rgb(0, 0, 0);
            position: absolute;
            bottom: 70%;
            left: 16%;
    font-size: 50px;
}

.texto1 {
    text-align: left;
    color: black;
    position: absolute;
    bottom: 55%;
    left: 16%;
    font-size: 28px;
}

.boton1 {
    left: 16%;
    bottom: 51%;
    position: absolute;
    font-size: 18px;
    background-color: #396577;
    color: #ffffff;
    border-radius: 3px;
    justify-content: center;
    top: 48%;
    left: 16%;
    bottom: 47%;
    right: 77%;
}

.boton2 {
    left: 24%;
    bottom: 51%;
    position: absolute;
    font-size: 18px;
    background: none;
    overflow: hidden;
    color: #366175;
        border-radius: 2px;
        top: 48%;
        left: 24%;
        bottom: 47%;
        right: 67%;
}

.texto2 {
    background-color: rgb(136, 204, 209);
    display: block;
    position: absolute;
    left: 10%;
    bottom: 30%;
    text-align: center;
    padding: 10px 200px;
    font-size: 18px;
}